* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

.logo {
    float: left;
    width: 150px;
    height: 135px;
    margin: 5px;
    border: 5px solid #000;
    border-radius: 5px;
}

header {
    /* width: 1000px%; */
    height: 145px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #000;
    border-radius: 10px;
}

h2 {
    float: left;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: firebrick;
    text-shadow: 0px 0px 10px #ffea00;
}

#home {
    padding: 10px;
    width: 100%;
    height: 775px;
}

.hizmat {
    margin: 40px;
    height: 250px;
    float: left;
    border: 5px outset rgb(100, 100, 100);
    border-radius: 5px;
    box-shadow: 0px 0px 50px #000000;
}

.sar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 50px #000000;
    margin: 5px 10px 10px 10px;
}

.sss {
    text-align: center;
    color: rgba(0, 93, 9, 0.902);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ddd {
    margin: 5px;
    padding: 1px;
    float: left;
    border: 2px outset #000;
    border-radius: 5px;
}

.nom {
    margin: 3px;
    text-align: center;
    text-shadow: 0 0 10px rgb(17, 241, 212);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.map,
.contact {
    float: left;
    margin: 60px;
}

.manzil,
.tel,
.pochta {
    margin: 20px;
    color: darkred;
}

.m,
.t,
.e {
    margin: 20px;
    color: darkgreen;
}